@import 'mixins';
@import 'fonts';

.home {
	@include displayFlex(column, flex-start, center);
	width: 100%;
	height: fit-content;

	.home-todays-picks-title-container {
		@include displayFlex(column, center, center);
		width: 100%;
		margin-bottom: 30px;

		h2 {
			font-size: 2.3rem;
		}

		.todays-recipes-divisor {
			width: 60%;
			height: 1px;
			background-color: #b9ae9e;
			margin: 10px 0px;
		}

		p {
			text-align: center;
		}
	}

	.todays-recipes-container {
		width: 90%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		height: 450px;

		@media screen and (max-width: 670px) {
			width: 100%;
			height: auto;
			grid-column-gap: 15px;
			grid-row-gap: 15px;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, 1fr);
		}

		.random-pick-container {
			position: relative;
			width: 100%;
			overflow: hidden;
			border-radius: 10px;
			box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);

			@media screen and (max-width: 670px) {
				height: 200px;
			}

			&:hover > .random-pick-like {
				opacity: 1;
				transform: scale(1);
			}

			.random-pick-background {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #fff;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 10px;
				filter: brightness(0.4);
				z-index: 1;
				transition: all 350ms ease-in-out;

				&:hover {
					filter: brightness(0.5);
					scale: 1.1;
				}
			}

			.random-pick-bubble {
				@include displayFlex(row, flex-start, center);
				position: absolute;
				z-index: 2;
				color: #000;
				padding: 5px 10px;
				border-radius: 7.5px;
			}

			.random-pick-category {
				@extend .random-pick-bubble;
				top: 15px;
				left: 15px;
				background: #ffda08;
			}

			.random-pick-stats {
				@extend .random-pick-bubble;
				bottom: 15px;
				right: 15px;
				background: #fff;

				svg {
					margin-right: 5px;
				}
			}

			.random-pick-title {
				@extend .random-pick-bubble;
				display: inline-block;
				bottom: 15px;
				left: 15px;
				background: #fff;
				max-width: 65%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				@media screen and (min-width: 1450px) {
					max-width: 65%;
				}
				@media screen and (min-width: 1000px) {
					max-width: 45% !important;
				}
				@media screen and (max-width: 1000px) {
					max-width: 40%;
				}
				@media screen and (min-width: 670px) and (max-width: 900px) {
					max-width: 60%;
				}
				@media screen and (max-width: 670px) {
					max-width: 65%;
				}

				svg {
					margin-right: 5px;
				}
			}

			.random-pick-like {
				@extend .random-pick-bubble;
				top: 13px;
				right: 15px;
				padding: 0px;
				cursor: pointer;
				opacity: 0;
				transform: scale(0);
				transition: all 150ms ease-in-out;

				&:hover {
					transform: scale(1.1);
				}

				&:active {
					transform: scale(0.9);
				}
			}

			.random-pick-like--inactive {
				svg {
					fill: none;

					path {
						stroke: #ff3535;
						fill: rgba(255, 137, 137, 0.202);
						stroke-width: 2px;
					}
				}
			}

			.random-pick-like--active {
				svg {
					fill: #ff3535;
					filter: drop-shadow(0 0 0.75rem rgba(220, 20, 60, 0.468));

					path {
						fill: #ff4a4a;
						stroke: #ff4a4a;
						stroke-width: 2px;
					}
				}
			}
		}
	}

	.recipe-1 {
		grid-area: 1 / 1 / 4 / 3;
	}
	.recipe-2 {
		grid-area: 1 / 3 / 2 / 5;
	}
	.recipe-3 {
		grid-area: 2 / 3 / 3 / 4;
	}
	.recipe-4 {
		grid-area: 2 / 4 / 3 / 5;
	}
	.recipe-5 {
		grid-area: 3 / 3 / 4 / 5;
	}

	@media screen and (max-width: 900px) {
		.recipe-1 {
			grid-area: 1 / 1 / 3 / 3;
		}
		.recipe-2 {
			grid-area: 3 / 1 / 4 / 3;
		}
		.recipe-3 {
			grid-area: 1 / 3 / 2 / 5;
		}
		.recipe-4 {
			grid-area: 2 / 3 / 3 / 5;
		}
		.recipe-5 {
			grid-area: 3 / 3 / 4 / 5;
		}
	}

	@media screen and (max-width: 670px) {
		.recipe-1 {
			grid-area: 1 / 1 / 2 / 3;
		}
		.recipe-2 {
			grid-area: 2 / 1 / 3 / 3;
		}
		.recipe-3 {
			grid-area: 3 / 1 / 4 / 3;
		}
		.recipe-4 {
			grid-area: 4 / 1 / 5 / 3;
		}
		.recipe-5 {
			grid-area: 5 / 1 / 6 / 3;
		}
	}
}

.carousel-component-container {
	position: relative;
	width: 100%;
	margin-top: 100px;

	h3 {
		position: inherit;
		width: 90%;
		color: #fff;
		margin: auto;
		font-size: 1.3rem;
		font-weight: 400;
		text-transform: capitalize;
		margin-bottom: 20px;
		letter-spacing: 1px;
	}

	.background {
		position: absolute;
		top: -30px;
		left: 0;
		width: calc(100% + 40px);
		height: calc(100% + 50px);
		background-color: #685c48;
		margin-left: -20px;
	}

	.p-carousel {
		width: 100%;
		position: relative;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0px;
			padding-bottom: 50px;
		}

		.p-carousel-content {
			@include displayFlex(column, center, center);

			.p-carousel-container {
				@include displayFlex(row, center, center);
				width: 100%;
				position: relative;

				background-color: #2f2a21;

				.p-carousel-prev {
					left: -20px;
				}

				.p-link {
					position: absolute;
					width: calc(5% + 20px);
					height: 250px;
					border: none;
					z-index: 1;
					background-color: #2f2a21;
					user-select: none;
					-webkit-tap-highlight-color: transparent;

					@media screen and (max-width: 800px) {
						width: 9%;
					}

					svg {
						cursor: pointer;
						fill: #fff;
						width: 20px;
						height: auto;
						opacity: 0.5;
						transition: all 150ms ease-in-out;

						&:hover {
							opacity: 1;
						}
						path {
							fill: #fff;
						}
					}
				}

				.p-carousel-next {
					right: -20px;
				}

				.p-disabled {
					svg {
						cursor: auto;
						opacity: 0.1 !important;
					}
				}

				.p-carousel-items-content {
					@include displayFlex(row, space-between, center);
					width: 90%;
					height: 250px !important;
					overflow-x: hidden;
					position: relative;

					.p-carousel-items-container {
						@include displayFlex(row, space-between, center);
						width: 100%;

						.p-carousel-item {
							opacity: 0;
							transition: all ease-in-out 300ms;
							padding: 0px 10px;

							@media screen and (max-width: 750px) {
								width: 10%;
								padding: 0px 5px;
							}
						}

						.p-carousel-item-active {
							opacity: 1;
						}

						.p-carousel-item-start {
							padding-left: 0px;
						}

						.p-carousel-item-end {
							padding-right: 0px;
						}
					}
				}

				/* .p-items-hidden {
					pointer-events: none;
				} */
			}

			.p-carousel-indicators {
				@include displayFlex(row, space-between, center);
				list-style: none;
				margin-right: -20px;
				margin-top: 10px;
				position: relative;
				//display: none;

				.p-carousel-indicator {
					margin-right: 30px;

					button {
						width: 7.5px;
						height: 7.5px;
						background-color: #2f2a215b;
						border-radius: 100%;
						cursor: pointer;
						border: none;
						transition: all 150ms ease-in-out;
					}
				}

				.p-highlight {
					button {
						background-color: #d1bcae;
					}
				}
			}
		}
	}
}

.carousel-item-container {
	height: 200px;

	.carousel-item-content {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		overflow: hidden;

		.carousel-item-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 10px;

			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			transform: scale(1);
			z-index: 2;
			transition: all 150ms ease-in-out;
			filter: brightness(0.9);

			&:hover {
				filter: brightness(1.2);
			}
		}

		.random-pick-stats {
			@include displayFlex(row, flex-start, center);
			position: absolute;
			z-index: 2;
			color: #000;
			padding: 5px 10px;
			border-radius: 7.5px;
			bottom: 15px;
			right: 15px;
			background: #fff;
			transition: all 150ms ease-in-out;
			box-shadow: 0 0 15px #0000009f;
			pointer-events: none;

			svg {
				transition: all 150ms ease-in-out;
				margin-right: 5px;
			}
		}

		.time-flash {
			color: #fff;
			background-color: #3cb400;
		}
		.time-fast {
			color: #fff;
			background-color: #dbc900;
		}
		.time-slow {
			color: #fff;
			background-color: #d15f0d;
		}
		.time-mule {
			color: #fff;
			background-color: #d10d0d;
		}
	}
}
