@import 'mixins';
@import 'fonts';

.recipe-details-container {
	@include displayFlex(column, center, center);
	width: 100%;
	height: 100%;

	.recipe-details-content {
		width: 90%;
		height: 100%;
		max-width: 1300px;

		/* @media screen and (max-width: 900px) {
			margin-left: 150px;
			margin-right: 150px;
		} */

		.recipe-details-header-container {
			display: flex;
			flex-direction: column;

			.recipe-image-container {
				@include displayFlex(null, center, center);
				width: 100%;
				height: auto;
				aspect-ratio: 16/9;
				background: #000;
				overflow: hidden;

				img {
					width: 100%;
					height: auto;
					aspect-ratio: inherit;
				}
			}

			h4 {
				margin-top: 5px;
				font-weight: 300;
			}
		}

		.middle-article-title {
			margin-top: 40px;
			text-transform: uppercase;
			font-weight: 500;
			text-align: center;
			line-height: 1;
			font-size: 0.9rem;
			color: red;
			font-family: 'Aftika';
		}

		.middle-recipe-title {
			text-align: center;
			font-size: 2rem;
			margin-top: 10px;
			font-weight: 600;
			font-family: 'Aftika';
		}

		.score-recipes-container {
			@include displayFlex(row, center, center);
			width: 100%;
			height: auto;
			margin-top: 15px;

			.score-recipe-container {
				@include displayFlex(column, center, center);
				margin-right: 10px;

				&:last-child {
					margin-right: 0px;
				}

				.score-recipe-bubble {
					@include displayFlex(row, center, center);
					width: 34px;
					height: 34px;
					background-color: #000;
					border-radius: 100%;
				}

				p {
					font-size: 13px;
					margin-top: 5px;
				}

				.health {
					background-color: red;
				}

				.score {
					background-color: #7ea924;
				}
			}
		}

		.recipe-dish-types-container {
			@include displayFlex(row, center, center);
			width: 100%;
			height: auto;
			margin: 15px 0px 50px auto;
			flex-wrap: wrap;

			.dish-container {
				padding: 5px 10px;
				background-color: #ebe5de;
				border-radius: 5px;
				margin-right: 10px;
				margin-bottom: 10px;

				&:last-child {
					margin-right: 0;
				}

				h6 {
					text-transform: uppercase;
					font-weight: 500;
				}
			}
		}

		.diets-bubble-container {
			@include displayFlex(row, flex-start, center);
			width: 100%;
			border-bottom: 2px solid #ebe5de;
			padding-bottom: 20px;

			.diet-icon-container {
				@include displayFlex(row, center, center);
				width: 30px;
				height: 30px;
				border-radius: 30px;
				border: 2px solid #2d2926;
				background-color: #2d2926;
				margin-right: 10px;
				transition: all 150ms ease-in-out;

				&:hover {
					background-color: #4e4640;
				}

				svg {
					fill: #efefef;
				}

				img {
					width: 18px;
					height: auto;
					filter: invert(100);
				}
			}
		}

		.summary-container {
			@include displayFlex(column, flex-start, flex-start);
			margin-top: 20px;

			.readytime-container {
				@include displayFlex(row, flex-start, flex-start);
				font-size: 1.1rem;

				p {
					margin-top: 1px;
					margin-left: 5px;
					font-size: 0.8rem;
				}
			}

			.summary-content {
				max-width: 900px;
				font-weight: 400;
				margin-top: 15px;
				line-height: 27px;
			}
		}

		.recipe-steps-container {
			padding-bottom: 120px;
			.title-container {
				//font-family: 'Aftika';
				width: 100%;
				margin: 30px 0px 20px auto;
				border-bottom: 2px solid #000000;
				padding-bottom: 0.6rem;
			}

			.intruction-step-container {
				max-width: 900px;

				h4 {
					margin-bottom: 5px;
				}

				.instrucion-content {
					font-weight: 400;
					line-height: 27px;
				}

				.line-guide {
					width: 2px;
					height: 35px;
					background-color: #2d292608;
					margin: 5px 0px;
				}
			}
		}
	}
}
