@import 'mixins';
@import 'fonts';

.all-recipes-container {
	@include displayFlex(column, flex-start, flex-start);
	max-width: 1280px;
	justify-self: center;

	.recipes-container {
		@include displayFlex(row, flex-start, flex-start);
		flex-wrap: wrap;
	}
}
