/* ------------------------------------------
--------------- AFTIKA FONTS ----------------
------------------------------------------ */
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Bold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Extrabold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Regular.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Light.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Extralight.otf");
  font-weight: 300;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.home .home-todays-picks-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.home .home-todays-picks-title-container h2 {
  font-size: 2.3rem;
}
.home .home-todays-picks-title-container .todays-recipes-divisor {
  width: 60%;
  height: 1px;
  background-color: #b9ae9e;
  margin: 10px 0px;
}
.home .home-todays-picks-title-container p {
  text-align: center;
}
.home .todays-recipes-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 450px;
}
@media screen and (max-width: 670px) {
  .home .todays-recipes-container {
    width: 100%;
    height: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
.home .todays-recipes-container .random-pick-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 670px) {
  .home .todays-recipes-container .random-pick-container {
    height: 200px;
  }
}
.home .todays-recipes-container .random-pick-container:hover > .random-pick-like {
  opacity: 1;
  transform: scale(1);
}
.home .todays-recipes-container .random-pick-container .random-pick-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  filter: brightness(0.4);
  z-index: 1;
  transition: all 350ms ease-in-out;
}
.home .todays-recipes-container .random-pick-container .random-pick-background:hover {
  filter: brightness(0.5);
  scale: 1.1;
}
.home .todays-recipes-container .random-pick-container .random-pick-bubble, .home .todays-recipes-container .random-pick-container .random-pick-like, .home .todays-recipes-container .random-pick-container .random-pick-title, .home .todays-recipes-container .random-pick-container .random-pick-stats, .home .todays-recipes-container .random-pick-container .random-pick-category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 2;
  color: #000;
  padding: 5px 10px;
  border-radius: 7.5px;
}
.home .todays-recipes-container .random-pick-container .random-pick-category {
  top: 15px;
  left: 15px;
  background: #ffda08;
}
.home .todays-recipes-container .random-pick-container .random-pick-stats {
  bottom: 15px;
  right: 15px;
  background: #fff;
}
.home .todays-recipes-container .random-pick-container .random-pick-stats svg {
  margin-right: 5px;
}
.home .todays-recipes-container .random-pick-container .random-pick-title {
  display: inline-block;
  bottom: 15px;
  left: 15px;
  background: #fff;
  max-width: 65%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 1450px) {
  .home .todays-recipes-container .random-pick-container .random-pick-title {
    max-width: 65%;
  }
}
@media screen and (min-width: 1000px) {
  .home .todays-recipes-container .random-pick-container .random-pick-title {
    max-width: 45% !important;
  }
}
@media screen and (max-width: 1000px) {
  .home .todays-recipes-container .random-pick-container .random-pick-title {
    max-width: 40%;
  }
}
@media screen and (min-width: 670px) and (max-width: 900px) {
  .home .todays-recipes-container .random-pick-container .random-pick-title {
    max-width: 60%;
  }
}
@media screen and (max-width: 670px) {
  .home .todays-recipes-container .random-pick-container .random-pick-title {
    max-width: 65%;
  }
}
.home .todays-recipes-container .random-pick-container .random-pick-title svg {
  margin-right: 5px;
}
.home .todays-recipes-container .random-pick-container .random-pick-like {
  top: 13px;
  right: 15px;
  padding: 0px;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  transition: all 150ms ease-in-out;
}
.home .todays-recipes-container .random-pick-container .random-pick-like:hover {
  transform: scale(1.1);
}
.home .todays-recipes-container .random-pick-container .random-pick-like:active {
  transform: scale(0.9);
}
.home .todays-recipes-container .random-pick-container .random-pick-like--inactive svg {
  fill: none;
}
.home .todays-recipes-container .random-pick-container .random-pick-like--inactive svg path {
  stroke: #ff3535;
  fill: rgba(255, 137, 137, 0.202);
  stroke-width: 2px;
}
.home .todays-recipes-container .random-pick-container .random-pick-like--active svg {
  fill: #ff3535;
  filter: drop-shadow(0 0 0.75rem rgba(220, 20, 60, 0.468));
}
.home .todays-recipes-container .random-pick-container .random-pick-like--active svg path {
  fill: #ff4a4a;
  stroke: #ff4a4a;
  stroke-width: 2px;
}
.home .recipe-1 {
  grid-area: 1/1/4/3;
}
.home .recipe-2 {
  grid-area: 1/3/2/5;
}
.home .recipe-3 {
  grid-area: 2/3/3/4;
}
.home .recipe-4 {
  grid-area: 2/4/3/5;
}
.home .recipe-5 {
  grid-area: 3/3/4/5;
}
@media screen and (max-width: 900px) {
  .home .recipe-1 {
    grid-area: 1/1/3/3;
  }
  .home .recipe-2 {
    grid-area: 3/1/4/3;
  }
  .home .recipe-3 {
    grid-area: 1/3/2/5;
  }
  .home .recipe-4 {
    grid-area: 2/3/3/5;
  }
  .home .recipe-5 {
    grid-area: 3/3/4/5;
  }
}
@media screen and (max-width: 670px) {
  .home .recipe-1 {
    grid-area: 1/1/2/3;
  }
  .home .recipe-2 {
    grid-area: 2/1/3/3;
  }
  .home .recipe-3 {
    grid-area: 3/1/4/3;
  }
  .home .recipe-4 {
    grid-area: 4/1/5/3;
  }
  .home .recipe-5 {
    grid-area: 5/1/6/3;
  }
}

.carousel-component-container {
  position: relative;
  width: 100%;
  margin-top: 100px;
}
.carousel-component-container h3 {
  position: inherit;
  width: 90%;
  color: #fff;
  margin: auto;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.carousel-component-container .background {
  position: absolute;
  top: -30px;
  left: 0;
  width: calc(100% + 40px);
  height: calc(100% + 50px);
  background-color: #685c48;
  margin-left: -20px;
}
.carousel-component-container .p-carousel {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.carousel-component-container .p-carousel:last-child {
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.carousel-component-container .p-carousel .p-carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #2f2a21;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-carousel-prev {
  left: -20px;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-link {
  position: absolute;
  width: calc(5% + 20px);
  height: 250px;
  border: none;
  z-index: 1;
  background-color: #2f2a21;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 800px) {
  .carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-link {
    width: 9%;
  }
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-link svg {
  cursor: pointer;
  fill: #fff;
  width: 20px;
  height: auto;
  opacity: 0.5;
  transition: all 150ms ease-in-out;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-link svg:hover {
  opacity: 1;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-link svg path {
  fill: #fff;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-carousel-next {
  right: -20px;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-disabled svg {
  cursor: auto;
  opacity: 0.1 !important;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-carousel-items-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 250px !important;
  overflow-x: hidden;
  position: relative;
  border-radius: 10px;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-carousel-items-content .p-carousel-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-carousel-items-content .p-carousel-items-container .p-carousel-item {
  opacity: 0;
  transition: all ease-in-out 500ms;
  padding: 0px 10px;
}
@media screen and (max-width: 750px) {
  .carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-carousel-items-content .p-carousel-items-container .p-carousel-item {
    width: 10%;
    padding: 0px 5px;
  }
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-carousel-items-content .p-carousel-items-container .p-carousel-item-active {
  opacity: 1;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-carousel-items-content .p-carousel-items-container .p-carousel-item-start {
  padding-left: 0px;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-container .p-carousel-items-content .p-carousel-items-container .p-carousel-item-end {
  padding-right: 0px;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-indicators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: -20px;
  margin-top: 10px;
  position: relative;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-indicators .p-carousel-indicator {
  margin-right: 30px;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-indicators .p-carousel-indicator button {
  width: 7.5px;
  height: 7.5px;
  background-color: rgba(47, 42, 33, 0.3568627451);
  border-radius: 100%;
  cursor: pointer;
  border: none;
  transition: all 150ms ease-in-out;
}
.carousel-component-container .p-carousel .p-carousel-content .p-carousel-indicators .p-highlight button {
  background-color: #d1bcae;
}

.carousel-item-container {
  height: 200px;
}
.carousel-item-container .carousel-item-content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.carousel-item-container .carousel-item-content .carousel-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1);
  z-index: 2;
  transition: all 100ms ease-in-out;
  filter: brightness(0.9);
}
.carousel-item-container .carousel-item-content .carousel-item-image:hover {
  filter: brightness(1);
}
.carousel-item-container .carousel-item-content .random-pick-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 2;
  color: #000;
  padding: 5px 10px;
  border-radius: 7.5px;
  bottom: 15px;
  right: 15px;
  background: #fff;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6235294118);
  pointer-events: none;
}
.carousel-item-container .carousel-item-content .random-pick-stats svg {
  transition: all 150ms ease-in-out;
  margin-right: 5px;
}
.carousel-item-container .carousel-item-content .time-flash {
  color: #fff;
  background-color: #3cb400;
}
.carousel-item-container .carousel-item-content .time-fast {
  color: #fff;
  background-color: #dbc900;
}
.carousel-item-container .carousel-item-content .time-slow {
  color: #fff;
  background-color: #d15f0d;
}
.carousel-item-container .carousel-item-content .time-mule {
  color: #fff;
  background-color: #d10d0d;
}

/*# sourceMappingURL=Home.css.map */
