/* ------------------------------------------
--------------- AFTIKA FONTS ----------------
------------------------------------------ */
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Bold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Extrabold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Regular.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Light.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Aftika";
  src: url("../assets/fonts/Aftika/Aftika-Extralight.otf");
  font-weight: 300;
}
.all-recipes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  max-width: 1280px;
  justify-self: center;
}
@media screen and (max-width: 640px) {
  .all-recipes-container {
    width: 100%;
  }
}
.all-recipes-container .search-recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 10px;
  border: 1px solid black;
  margin-top: 25px;
}
.all-recipes-container .search-recipe-container .search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: "HarmoniaSans";
  font-size: 1rem;
  outline: none;
}
.all-recipes-container .search-recipe-container .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  cursor: pointer;
}
.all-recipes-container .search-recipe-container .search-button svg > path {
  color: #6b7280;
  transition: all 150ms ease-in-out;
}
.all-recipes-container .search-recipe-container .search-button:hover > svg > path {
  color: #2e3137;
}
.all-recipes-container .filter-selects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 45px;
}
@media screen and (max-width: 570px) {
  .all-recipes-container .filter-selects-container {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.all-recipes-container .filter-selects-container .filter-container {
  width: 32%;
}
@media screen and (max-width: 570px) {
  .all-recipes-container .filter-selects-container .filter-container {
    width: 100%;
    margin-bottom: 35px;
  }
}
.all-recipes-container .filter-selects-container .filter-container .filter-content {
  position: relative;
  width: 100%;
}
.all-recipes-container .filter-selects-container .filter-container .filter-content .filter-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  transition: all 100ms ease-in-out;
  top: 11px;
  left: 10px;
  opacity: 0.6;
  user-select: none;
  pointer-events: none;
}
.all-recipes-container .filter-selects-container .filter-container .filter-content .label-active {
  top: -23px;
  left: 0px;
  font-size: 0.8rem;
  font-weight: 600;
  pointer-events: all;
}
.all-recipes-container .filter-selects-container .filter-container .filter-content .unselect-filter-button {
  position: absolute;
  top: -20.5px;
  right: 0px;
  fill: #8b8b8b;
  transition: all 150ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
.all-recipes-container .filter-selects-container .filter-container .filter-content .unselect-filter-button:hover {
  fill: #341c0c;
}
.all-recipes-container .filter-selects-container .filter-container .filter-content .unselect-filter-button--active {
  opacity: 1;
  pointer-events: all;
}
.all-recipes-container .filter-selects-container .filter-container .filter-content .filter-select {
  width: 100%;
  height: 40px;
  padding-left: 5px;
  padding-right: 25px;
  font-family: "HarmoniaSans";
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 0px;
}
.all-recipes-container .filter-selects-container .filter-container .filter-content .filter-select:focus {
  outline: none;
}
.all-recipes-container .recipes-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.all-recipes-container .recipes-container .recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media screen and (max-width: 746px) {
  .all-recipes-container .recipes-container .recipe-container {
    width: 100%;
  }
}
.all-recipes-container .recipes-container .recipe-container .recipe-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 275px;
  margin: 30px 20px 0px 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2352941176);
  text-decoration: none;
}
@media screen and (max-width: 746px) {
  .all-recipes-container .recipes-container .recipe-container .recipe-link {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-image-container:hover > img {
  filter: brightness(0.9);
}
@media screen and (max-width: 746px) {
  .all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-image-container {
    aspect-ratio: auto;
    height: fit-content;
    max-height: 400px;
  }
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-image-container img {
  width: auto;
  height: 100%;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 746px) {
  .all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-image-container img {
    width: 100%;
    height: auto;
  }
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-image-container .money-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  left: 15px;
  background-color: #c95c35;
  border-radius: 100%;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-image-container .money-bubble svg {
  width: fit-content;
  height: fit-content;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-image-container .cheap-recipe {
  background-color: #35c935;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .delete-recipe-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 15px;
  background-color: rgba(24, 24, 24, 0.5294117647);
  border-radius: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4784313725);
  transition: all 100ms ease-in-out;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .delete-recipe-button:hover {
  background-color: rgba(47, 47, 47, 0.6862745098);
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-title-container {
  margin: 0.8rem 0px 0.5rem;
  letter-spacing: 0.02em;
  font-weight: 600;
  overflow-wrap: normal;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .recipe-title-container:hover {
  text-decoration: underline;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .bubbles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .bubbles-container .recipe-likes-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #000;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .bubbles-container .recipe-likes-container .likes-bubble-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: red;
  margin-right: 5px;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .bubbles-container .recipe-minutes-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  color: #000;
}
.all-recipes-container .recipes-container .recipe-container .recipe-link .bubbles-container .recipe-minutes-container .minutes-bubble-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #6b7280;
  margin-left: 5px;
}
.all-recipes-container .recipes-container .no-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.all-recipes-container .recipes-container .no-content-container img {
  width: 120px;
  height: auto;
  margin-bottom: 30px;
  filter: brightness(2.5);
}
.all-recipes-container .recipes-container .no-content-container h2 {
  color: #341c0c;
}

/*# sourceMappingURL=Recipes.css.map */
